<% if user_signed_in? -%>
  <% unless current_page?(user_url(current_user)) %>
    <div class="col-md-3">
      <div id="tag_cloud"> 
        <h2>Tags:</h2> 
        <% tag_cloud Link.tag_counts, %w{s m l} do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: css_class %>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="col-md-3">
    <div id="tag_cloud"> 
      <h2>Tags:</h2> 
      <% tag_cloud Link.tag_counts, %w{s m l} do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), class: css_class %>
      <% end %>
    </div>
  </div>
<% end %>