<h2>Giới thiệu</h2>


<p>Xuhuongit.com là nơi chia sẻ những bài viết chất lượng về kiến thức IT cũng như internet, những thông tin mới nhất về công nghệ, xu hướng và tiềm năng của những ngôn ngữ lập trình, framework hay kỹ thuật có thể dẫn đầu công nghệ trong tương lai.</p>
 
<h3>Văn hóa Xuhuongit</h3>

<p>Khi bạn đọc một bài báo, hay một tài liệu, bài hướng dẫn,.. từ một trang web nào đó nếu bạn thấy chúng hay và ý nghĩa có thể bổ ích cho những người khác tại sao bạn lại không chia sẻ nhỉ? Nếu chia sẻ, bạn chỉ cần copy đường link bài viết đó và đăng vào xuhuongit.com, thế là xong! Tất cả những người khác sẽ nhận được rất nhiều bổ ích và bắt kịp xu hướng công nghệ nhờ vào đóng góp của bạn :)</p>

<h3>Mục tiêu</h3>

<p>Hướng tới là trang web chia sẻ kiến thức công nghệ, giúp mọi người nắm bắt được hướng đi và xu hướng của công nghệ trong tương lai.</p>