<%= provide(:current_title, "Nơi chia sẻ kiến thức về IT và internet") %>
<%= provide(:current_description, "Xuhuongit.com là nơi chia sẻ những bài viết chất lượng về kiến thức IT cũng như internet, những thông tin mới nhất về công nghệ, xu hướng và tiềm năng của những ngôn ngữ lập trình, framework hay kỹ thuật có thể dẫn đầu công nghệ trong tương lai.") %>


<h1>Chia sẻ link hay</h1>

<%= render 'form' %>

<%= link_to 'Quay lại', links_path %>
