/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require social-share-button
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 15px 0;
  a {
    color: #2F363E;
  }
}

#main_content {
  #content {
    float: none;
  }
  padding-bottom: 100px;
  .link {
    padding: 2em 1em;
    border-bottom: 1px solid #e9e9e9;
    .title {

      a {
        color: #FF4500;
      }
    }
  }
  .comments_title {
    margin-top: 2em;
  }
  #comments {
    .comment {
      padding: 1em 0;
      border-top: 1px solid #E9E9E9;
      .lead {
        margin-bottom: 0;
      }
    }
  }
}


.article-list {
  padding: 0;
  font-size: 1em;
  line-height: 1.6;
  display: block;
  color: #262626;
}
.article--micro {
  background: #fff;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  height: 100%;
}
.article_category_title {
  border-bottom: 2px solid #1c94c6;
  color: #1c94c6;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  padding: 10px 20px;
}

.article--micro .article_header {
  height: 186px;
  margin-top: 20px;
  overflow: hidden;
  padding: 0 20px;
  position: relative;
}

.article--micro .article_title {
  display: block;
  font-size: 1.8em;
  font-weight: bold;
  max-height: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.25;
  margin: 0;
  padding: 0;
}
.article_title>a:hover {
  color: #248aaf;
}
.article_title>a{
  padding: 0;
  color: #262626;
  text-decoration: none;
}

.article--micro .article_contributor{
  left: 20px;
  margin-bottom: 0;
  padding: 0;
  text-align: left;
  top: auto;
  width: 165px;
  max-width: 50%;
  bottom: 15px;
  position: absolute;
}

.article--micro .article_meta-data {
  border: none;
  font-size: 0.8125em;
  right: 20px;
  margin: 0;
  text-align: right;
  bottom: 15px;
  position: absolute;
}
.contributor_name a, .article_category_title a {
 color: #248aaf;
 text-decoration: none;
}
.contributor_name a:hover, .article_category_title a:hover {
 color: #1d6f8d;
}
.article_pub-date {
  color: #949494;
}
.article--micro .article_author-name {
  color: #949494;
}